pkgbase = superpanels
	pkgdesc = Bezel-aware multi-monitor wallpaper manager (CLI, daemon, and GUI)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/AlexSandilands/superpanels
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = rust
	makedepends = nodejs
	makedepends = npm
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libayatana-appindicator
	source = superpanels-0.1.0.tar.gz::https://github.com/AlexSandilands/superpanels/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = SKIP

pkgname = superpanels
