[Desktop Entry]
Type=Application
Name=Superpanels
Comment=Bezel-aware multi-monitor wallpaper manager
Exec=superpanels-gui
Icon=superpanels-gui
Categories=Graphics;Utility;
Terminal=false
StartupWMClass=superpanels-gui
