[Desktop Entry]
Type=Application
Name=Superpanels
Comment=Bezel-aware multi-monitor wallpaper manager
Exec=env WEBKIT_DISABLE_DMABUF_RENDERER=1 superpanels-gui
Icon=superpanels-gui
Categories=Graphics;Utility;
Terminal=false
StartupWMClass=superpanels-gui
